<div class="bg-gray py-24 sm:py-32 mb-20 mt-20">
	<div class="mx-auto max-w-7xl px-6 lg:px-8">
		<h2 class="text-center text-lg/8 font-semibold text-white">
			Betrott av världens mest innovativa AI-leverantörer
		</h2>
		<div
			class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5"
		>
			<img
				width="158"
				height="48"
				src="assets/imgs/sentrylogo.png"
				alt="catso"
				class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
			/>

			<img
				width="158"
				height="48"
				src="assets/imgs/huggingfacelogo.png"
				alt="huggingface"
				class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
			/>

			<img
				width="128"
				height="18"
				src="assets/imgs/groqlogo.png"
				alt="groq"
				class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
			/>
			<img
				width="158"
				height="48"
				src="assets/imgs/revenuecatlogo.png"
				alt="groq"
				class="col-span-2 max-h-12 w-full object-contain sm:col-start-2 lg:col-span-1"
			/>

			<img
				width="158"
				height="48"
				src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Amazon_Web_Services_Logo.svg/1024px-Amazon_Web_Services_Logo.svg.png"
				alt="Statamic"
				class="col-span-2 col-start-2 max-h-12 w-full object-contain sm:col-start-auto lg:col-span-1"
			/>
		</div>
	</div>
</div>
