<section id="home" class="hero min-h-screen flex items-center justify-center relative pt-20">
   <video src="assets/videos/12.mp4" autoplay muted loop playsinline preload="auto"></video>

   <div class="hero-overlay">
      <!-- Text overlay -->
      <div class="relative z-10 flex flex-col items-center justify-center text-center px-4 h-full">
         <h1 class="text-4xl sm:text-5xl md:text-6xl font-bold text-white mb-4">VERA-01</h1>

         <p class="text-xl md:text-2xl text-white max-w-3xl mb-6">Er <u>lokala</u> AI-drivna juristexpert.</p>
         <div class="flex items-center justify-center gap-4">
            <a
               class="px-6 py-3 bg-transparent border border-white/30 rounded-lg text-white/60 text-base font-medium flex items-center justify-center gap-2 hover:bg-white/10 hover:border-white/50 transition-all duration-300"
               href="#why-local-id"
            >
               Varför en lokal AI-agent?
            </a>
            <a
               href="#contact"
               class="px-6 py-3 bg-transparent border border-blue-500/30 rounded-lg text-blue-400 text-base font-medium flex items-center justify-center gap-2 hover:bg-blue-900/10 hover:border-blue-500/50 transition-all duration-300"
            >
               Kontakta oss
            </a>
         </div>
      </div>
      <div class="absolute bottom-4 left-1/2 transform -translate-x-1/2 px-4">
         <!-- <small class="block text-sm sm:text-base max-w-3xl mx-auto leading-relaxed">
                  Advokatbyråer omfattas av strikta GDPR-krav för hantering av personuppgifter. Att använda externa molntjänster innebär en
                  risk för allvarliga böter och skadat anseende vid dataläckage. Med VERA-01 installerad lokalt i er egen infrastruktur
                  behåller ni full kontroll över hanteringen av data.
               </small> -->
      </div>
   </div>
</section>
