<div class="text-center mb-16 mt-16">
	<span class="inline-block mb-4">
		<span
			class="text-4xl md:text-5xl font-extrabold bg-gradient-to-r from-purple-500 via-blue-500 to-cyan-400 bg-clip-text text-transparent tracking-tight"
		>
			Dokument- och textgranskning
		</span>
	</span>
	<div
		class="w-20 h-1 bg-gradient-to-r from-cyan-500 to-purple-500 rounded-full mx-auto"
	></div>

	<p class="mt-4 text-lg text-gray-300 font-medium">
		Ett sammanhållet flöde från dokument till beslut.
	</p>
</div>

<div class="body">
	<div class="container">
		<div class="logos">
			<div class="logos-wrap logos-1">
				<div class="box-1 box">
					<img
						src="https://cdn-icons-png.flaticon.com/512/12404/12404509.png"
						alt=""
						class="logoShow"
					/>
					<img
						src="https://cdn-icons-png.flaticon.com/512/8242/8242988.png"
						alt=""
						class="logoShow"
					/>
					<img
						src="https://cdn-icons-png.flaticon.com/512/8343/8343149.png"
						alt=""
						class="logoShow"
					/>
					<img
						src="https://cdn-icons-png.flaticon.com/512/337/337946.png"
						alt=""
						class="logoShow"
					/>
				</div>
				<div class="box-2 box">
					<img
						src="https://cdn-icons-png.flaticon.com/512/12404/12404509.png"
						alt=""
						class="logoShow"
					/>
					<img
						src="https://cdn-icons-png.flaticon.com/512/337/337946.png"
						alt=""
						class="logoShow"
					/>
					<img
						src="https://cdn-icons-png.flaticon.com/512/8343/8343149.png"
						alt=""
						class="logoShow"
					/>
					<img
						src="https://cdn-icons-png.flaticon.com/512/8242/8242988.png"
						alt=""
						class="logoShow"
					/>
				</div>
				<div class="box-3 box">
					<img
						src="https://cdn-icons-png.flaticon.com/512/8242/8242988.png"
						alt=""
						class="logoShow"
					/>
					<img
						src="https://cdn-icons-png.flaticon.com/512/337/337946.png"
						alt=""
						class="logoShow"
					/>
					<img
						src="https://cdn-icons-png.flaticon.com/512/12404/12404509.png"
						alt=""
						class="logoShow"
					/>
					<img
						src="https://cdn-icons-png.flaticon.com/512/8343/8343149.png"
						alt=""
						class="logoShow"
					/>
				</div>
			</div>

			<!-- Kopierar samma uppsättning tills vi byter till LLM-bolag -->
			<div class="logos-wrap logos-2">
				<div class="box-1 box">
					<img
						src="https://cdn-icons-png.flaticon.com/512/8242/8242988.png"
						alt=""
						class="logoShow"
					/>
					<img
						src="https://cdn-icons-png.flaticon.com/512/12404/12404509.png"
						alt=""
						class="logoShow"
					/>
					<img
						src="https://cdn-icons-png.flaticon.com/512/337/337946.png"
						alt=""
						class="logoShow"
					/>
					<img
						src="https://cdn-icons-png.flaticon.com/512/8343/8343149.png"
						alt=""
						class="logoShow"
					/>
				</div>
				<div class="box-2 box">
					<img
						src="https://cdn-icons-png.flaticon.com/512/8242/8242988.png"
						alt=""
						class="logoShow"
					/>
					<img
						src="https://cdn-icons-png.flaticon.com/512/12404/12404509.png"
						alt=""
						class="logoShow"
					/>
					<img
						src="https://cdn-icons-png.flaticon.com/512/337/337946.png"
						alt=""
						class="logoShow"
					/>
					<img
						src="https://cdn-icons-png.flaticon.com/512/8343/8343149.png"
						alt=""
						class="logoShow"
					/>
				</div>
				<div class="box-3 box">
					<img
						src="https://cdn-icons-png.flaticon.com/512/8242/8242988.png"
						alt=""
						class="logoShow"
					/>
					<img
						src="https://cdn-icons-png.flaticon.com/512/12404/12404509.png"
						alt=""
						class="logoShow"
					/>
					<img
						src="https://cdn-icons-png.flaticon.com/512/337/337946.png"
						alt=""
						class="logoShow"
					/>
					<img
						src="https://cdn-icons-png.flaticon.com/512/8343/8343149.png"
						alt=""
						class="logoShow"
					/>
				</div>
			</div>
		</div>

		<div class="shenzhi-logo">
			<img
				src="https://www.catso.io/cc.png"
				alt=""
				style="border-radius: 50%"
			/>
		</div>
		<div class="account">
			<img
				src="https://upload.wikimedia.org/wikipedia/commons/8/8b/Europe_flag_circle.png"
				width="80px"
				alt=""
			/>
		</div>
		<div class="lines">
			<div class="line-1">
				<svg
					width="481"
					height="235"
					viewBox="0 0 481 235"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						opacity="0.7"
						d="M0 93H26.9475C34.3831 93 41.5536 90.2387 47.0687 85.2517L123.931 15.7483C129.446 10.7613 136.617 8 144.052 8H293.795C304.982 8 315.24 14.2247 320.406 24.1479L417.594 210.852C422.76 220.775 433.018 227 444.205 227H481"
						stroke="#8684FF"
						stroke-width="16"
					/>
				</svg>
				<svg
					id="line-1"
					width="481"
					height="235"
					viewBox="0 0 481 235"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						opacity="1"
						d="M0 93H26.9475C34.3831 93 41.5536 90.2387 47.0687 85.2517L123.931 15.7483C129.446 10.7613 136.617 8 144.052 8H293.795C304.982 8 315.24 14.2247 320.406 24.1479L417.594 210.852C422.76 220.775 433.018 227 444.205 227H481"
						stroke="#8684FF"
						stroke-width="16"
					/>
				</svg>
				<svg
					width="260"
					height="55"
					viewBox="0 0 260 55"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						opacity="0.7"
						d="M0 8H79.4107C81.9382 8 84.4511 8.38328 86.8636 9.13676L203.729 45.6359C206.624 46.5401 209.64 47 212.673 47H259.5"
						stroke="#8684FF"
						stroke-width="16"
					/>
				</svg>
			</div>
			<div class="line-2">
				<svg
					width="482"
					height="151"
					viewBox="0 0 482 151"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						opacity="0.6"
						d="M0 142.5H301.522C310.383 142.5 318.791 138.582 324.491 131.798L419.509 18.7022C425.209 11.9176 433.617 8 442.478 8H482"
						stroke="#323232"
						stroke-width="16"
					/>
				</svg>
				<svg
					id="line-2"
					width="482"
					height="151"
					viewBox="0 0 482 151"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						opacity="0.6"
						d="M0 142.5H301.522C310.383 142.5 318.791 138.582 324.491 131.798L419.509 18.7022C425.209 11.9176 433.617 8 442.478 8H482"
						stroke="#323232"
						stroke-width="16"
					/>
				</svg>
			</div>
			<div class="line-3">
				<svg
					width="480"
					height="144"
					viewBox="0 0 480 144"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						opacity="0.3"
						d="M0 53.5H36.5736C44.5301 53.5 52.1607 56.6607 57.7868 62.2868L122.213 126.713C127.839 132.339 135.47 135.5 143.426 135.5H303.596C312.415 135.5 320.787 131.62 326.487 124.89L416.513 18.6096C422.213 11.8804 430.585 8 439.404 8H480"
						stroke="#FF0000"
						stroke-width="16"
					/>
				</svg>
				<svg
					id="line-3"
					width="480"
					height="144"
					viewBox="0 0 480 144"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						opacity="0.3"
						d="M0 53.5H36.5736C44.5301 53.5 52.1607 56.6607 57.7868 62.2868L122.213 126.713C127.839 132.339 135.47 135.5 143.426 135.5H303.596C312.415 135.5 320.787 131.62 326.487 124.89L416.513 18.6096C422.213 11.8804 430.585 8 439.404 8H480"
						stroke="#FF0000"
						stroke-width="16"
					/>
				</svg>
				<svg
					width="254"
					height="56"
					viewBox="0 0 254 56"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						opacity="0.3"
						d="M0.5 48.0001H79.6109C82.3346 48.0001 85.04 47.555 87.6201 46.6824L197.325 9.5812C200.421 8.53411 203.667 8 206.936 8H253.403"
						stroke="#FF0000"
						stroke-width="16"
					/>
				</svg>
			</div>
		</div>
		<div class="results">
			<div class="icon">
				<img
					src="https://cdn3.iconfinder.com/data/icons/web-ui-color/128/Lock_green-512.png"
					alt=""
					width="40px"
				/>
			</div>
			<div class="icon">
				<img
					src="https://static.vecteezy.com/system/resources/thumbnails/012/042/292/small_2x/warning-sign-icon-transparent-background-free-png.png"
					alt=""
					width="30px"
				/>
			</div>
			<div class="icon">
				<img
					src="https://static.thenounproject.com/png/7510504-200.png"
					alt=""
					width="32px"
				/>
			</div>
			<div class="icon">
				<img
					src="https://cdn-icons-png.flaticon.com/512/17357/17357070.png"
					alt=""
					width="40px"
				/>
			</div>
		</div>
		<div class="rule">
			<div>
				<img
					src="https://cdn-icons-png.flaticon.com/512/1356/1356479.png"
					alt=""
					class="rule-1"
				/>
			</div>
			<div>
				<img
					src="https://upload.wikimedia.org/wikipedia/commons/3/33/Cartoon_space_rocket.png"
					alt=""
					class="rule-2"
				/>
			</div>
		</div>
	</div>

	<script>
		const logosWrap = document.querySelectorAll('.logos-wrap');
		const line3 = document.querySelector('#line-3');
		const rule = document.querySelector('.rule');
		const rules = rule.querySelectorAll('div');
		let targets = [];

		logosWrap.forEach((item) => {
			targets.push(item.querySelectorAll('img'));
			return targets;
		});

		const options = {
			root: document.querySelector('.logos'),
			rootMargin: '0px',
			threshold: 1,
		};

		const observerImg = () => {
			const callback = (e) => {
				e.forEach((i) => {
					if (i.intersectionRatio <= 0) {
						i.target.classList.remove('logoShow');
					}
					if (i.isIntersecting) {
						i.target.classList.add('logoShow');
					}
				});
			};

			const observer = new IntersectionObserver(callback, options);

			targets.forEach((item) => {
				item.forEach((i) => {
					observer.observe(i);
				});
			});
		};

		window.onload = observerImg;
	</script>
</div>
